*{
    padding: 0px;
    margin: 0px;
    flex-wrap: wrap;
    font-family: 'Quicksand', sans-serif;
    transition: all 0.8s;
}

*::-webkit-scrollbar {
    width: 14px; /* Largura da barra de rolagem */
}

*::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 10px;
     /* Cor do polegar da barra de rolagem (parte que você arrasta) */
}

*::-webkit-scrollbar-track {
    background-color: #000000;
     /* Cor da pista da barra de rolagem (fundo) */
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 90px;
}

.logo{
    width: 120px;
}

.h1{
    order: 0;
}

.logo:hover{
    animation-delay: 0.5s;
    animation: logoGirando 1s;
    cursor: pointer;
}

@keyframes logoGirando {
    0% {
        transform: rotate(0deg);
    }
    100%{
        transform: rotate( 360deg);
    }
}

.navbar-toggler{
    order: 4;
}

.offcanvas-body{
    order: 1;
}

.icons{
    order: 2;
}

.coment{
    border-right: solid 1px black;
}

.imgs-header{
    width: 50px;
    margin-left: 15px;
}

.imgs-header:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.links-a{
    text-decoration: none;
    color: #0087BD !important;
    padding-left: 15px;
    font-size: 18px;
}

/* banner --------------------------------------------------------------------------------- */

.imgs-banner {
    height: 600px;
    opacity: 85%;
}

.elements{
    display: block;
    top: 22%;
}

.title-banner{
    font-weight: bold;
    font-size: 60px;
}

.descricao-banner{
    font-size: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.btn-banner{
    width: 200px;
    height: 50px;
    border-radius: 20px;
    background-color: #C5EFFF;
    color: #0087BD;
    padding: 5px;
    border: none;
    box-shadow: 4px 4px 15px #0087BD;
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
}

.btn-banner:hover{
    transform: scale(1.1);
    background-color: #a5e6ff;
}

.seta-button{
    padding-right: 5px;
}

.seta-btn{
    padding-left: 5px;
}

.btn-banner:active {
    transform: translate(0em, 0.4em);
}

/* sec 2--------------------------------------------------------------------------------------- */

.title-sec-two {
    color: #0087BD;
    font-size: 36px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 40px;
    font-weight: bold;
}

.rowum,
.rowdois,
.rowquatro{
    background-color: #C5EFFF;
}

.rowdois,
.rowtreis,
.rowquatro{
    align-items: center;
    padding:20px;
    padding-bottom: 40px;
    padding-top: 40px;   
}

.subtitle{
    text-align: center;
    color: #0087BD;
    font-size: 24px;
}

.imagem-dois {
    width: 350px;
}

.textinho-sec-dois{
    text-align: center;
    font-size: 18px;
}

.direita{
    padding-left: 40px;
}

.colum{
    padding-top: 40px;
}

.rowcards{
    align-items: center;
    padding-bottom: 40px;
}

.cards{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    background-color: #fff;
    opacity: 70%;
    border-radius: 20px;
    padding: 20px;
    height: 220px;
    cursor: pointer;
}

.cards:hover{
    opacity: 100%;
    transform: scale(1.02);
    background-color: #dedddd;
}

.card-icon{
    padding-right: 10px;
}

.card-title{
    font-size: 20px;
    color: #0087BD !important;
    font-weight: bold;
}

/* sec 3--------------------------------------------------------------------------------------------- */

.produtos-tudo{
    background-color: #C5EFFF;
}

.cards-produtos{
    align-items: center;
    padding-bottom: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.produto-individual{
    height: 640px;
    background-color: #fff;
    border-radius: 20px;
    text-align: center;
    box-shadow: 7px 7px 3px #d6d6d6;
    padding-right: 0 !important;
    padding-left: 0 !important;
    cursor: pointer;
}

.produto-individual:hover{
    transform: scale(1.03);
}

.produto-img{
    width: 100%;
    border-radius: 20px 20px 0px 0px;
}

.produto-title{
    padding-top: 20px;
    font-size: 22px;
    font-weight: bold;
    color: #0087BD;
}

.produto-descricao{
    padding-left: 10px;
    padding-right: 10px;
}

.fa-star{
    color: yellow;
    font-size: 40px;
    padding-bottom: 20px;
}

.spa {
    color: rgb(1, 177, 1);
    font-size: 22px;
    font-weight: bold;
}

.spa2 {
    color:black;
    font-size: 22px;
    font-weight: bold;
}

.btn-card {
    width: 250px;
    height: 50px;
    border-radius: 2px;
    background-color: #C5EFFF;
    color: #0087BD;
    padding: 5px;
    border: none;
    box-shadow: 3px 3px 10px #0087BD;
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
}

.btn-card:hover{
    transform: scale(1.05);
    background-color: #95dffd;
}

.btn-card:active {
    transform: translate(0em, 0.4em);
}

